In [62]:
import numpy as np
import pandas as pd

# Concat, Merge and Join

-   merge is used to combine dataframes:
    -   on the basis of values of common columns (indices can also be used, use left_index/right_index)
-   concat is used to append dataframes:
    -   one below the other (or sideways, depending on whether the axis option is set to 0 or 1)
-   join is used to merge dataframes on the basis of the index:
    -   instead of using merge with the option left_index=True we can use join

In [63]:
np.random.seed(0)

## Recap: Concatenation of np.ndarrays

In [64]:
x = [
    [1, 2],
    [3, 4],
]

In [65]:
np.concatenate(
    [x, x],
    axis=0,
)

array([[1, 2],
       [3, 4],
       [1, 2],
       [3, 4]])

In [66]:
x = [
    [1, 2],
    [3, 4],
]

In [67]:
np.concatenate(
    [x, x],
    axis=1,
)

array([[1, 2, 1, 2],
       [3, 4, 3, 4]])

## DataFrames for the Examples

In [68]:
df1 = pd.DataFrame(
    {
        "A": ["A0", "A1", "A2", "A3"],
        "B": ["B0", "B1", "B2", "B3"],
    },
    index=[0, 1, 2, 3],
)

In [69]:
df2 = pd.DataFrame(
    {
        "A": ["A4", "A5", "A6", "A7"],
        "B": ["B4", "B5", "B6", "B7"],
    },
    index=[0, 1, 2, 5],
)

## Append with Pandas

A useful shortcut to concat() are the append() instance methods on Series and DataFrame.  
They concatenate along axis=0, namely the index.

```python
DataFrame.append(
    other,
    ...
)
```

-   otherDataFrame or Series/dict-like object, or list of these: The data to append.

In [70]:
print(df1)
print(df2)

    A   B
0  A0  B0
1  A1  B1
2  A2  B2
3  A3  B3
    A   B
0  A4  B4
1  A5  B5
2  A6  B6
5  A7  B7

In [71]:
df12_append = pd.concat([df1, df2])

print(df12_append)

    A   B
0  A0  B0
1  A1  B1
2  A2  B2
3  A3  B3
0  A4  B4
1  A5  B5
2  A6  B6
5  A7  B7

## Concatenation with Pandas

pandas.concat takes a list or dict of homogeneously-typed objects and concatenates them with some  
configurable handling of “what to do with the other axes".

```python
pd.concat(
    objs,
    axis=0,
    join="outer",
    ...
)
```

-   objs : a sequence or mapping of Series or DataFrame objects.
-   axis : {0, 1, …}, default 0. The axis to concatenate along.
-   join : {‘inner’, ‘outer’}, default ‘outer’. How to handle indexes on other axis(es).
    -   Outer for union and inner for intersection.

In [72]:
print(df1)
print(df2)

    A   B
0  A0  B0
1  A1  B1
2  A2  B2
3  A3  B3
    A   B
0  A4  B4
1  A5  B5
2  A6  B6
5  A7  B7

In [73]:
df_concat = pd.concat([df1, df2])

print(df_concat)

    A   B
0  A0  B0
1  A1  B1
2  A2  B2
3  A3  B3
0  A4  B4
1  A5  B5
2  A6  B6
5  A7  B7

In [74]:
df_concat = pd.concat(
    [df1, df2],
    join="inner",
)

print(df_concat)

    A   B
0  A0  B0
1  A1  B1
2  A2  B2
3  A3  B3
0  A4  B4
1  A5  B5
2  A6  B6
5  A7  B7

In [75]:
df_concat = pd.concat(
    [df1, df2],
    join="inner",
    axis=1,
)

print(df_concat)

    A   B   A   B
0  A0  B0  A4  B4
1  A1  B1  A5  B5
2  A2  B2  A6  B6

In [76]:
try:
    df_concat = pd.concat(
        [df1, df2],
        join="inner",
        verify_integrity=True,
    )
except:  # noqa: E722
    df_concat = None

In [77]:
print(df_concat)

None

In [78]:
df_concat = pd.concat(
    [df1, df2],
    join="inner",
    ignore_index=True,
)

In [79]:
print(df_concat)

    A   B
0  A0  B0
1  A1  B1
2  A2  B2
3  A3  B3
4  A4  B4
5  A5  B5
6  A6  B6
7  A7  B7

## Merge

merge() is the entry point for all standard database join operations between DataFrame or named Series.

```python
pd.merge(
    left,
    right,
    how="inner",
    on=None,
    ...
)
```

-   left: A DataFrame or named Series object.
-   right: Another DataFrame or named Series object.
-   how{‘left’, ‘right’, ‘outer’, ‘inner’, ‘cross’}
    -   left: use only keys from left frame
    -   right: use only keys from right frame
    -   outer: use union of keys from both frames
    -   inner: use intersection of keys from both frames
    -   cross: creates the cartesian product from both frames
-   on: Column or index level names to join on.
    -   Must be found in both the left and right DataFrame and/or Series objects.

In [80]:
left = pd.DataFrame(
    {
        "key": ["K0", "K1", "K2"],
        "A": ["A0", "A1", "A2"],
    },
)

In [81]:
right = pd.DataFrame(
    {
        "key": ["K0", "K1", "K2"],
        "B": ["B0", "B1", "B2"],
    },
)

In [82]:
print(left)
print(right)

  key   A
0  K0  A0
1  K1  A1
2  K2  A2
  key   B
0  K0  B0
1  K1  B1
2  K2  B2

In [83]:
left.merge(
    right,
    on="key",
)

  key   A   B
0  K0  A0  B0
1  K1  A1  B1
2  K2  A2  B2

In [84]:
left2 = pd.DataFrame(
    {
        "key": ["K0", "K1", "K2"],
        "A": ["A0", "A1", "A2"],
    },
)

In [85]:
right2 = pd.DataFrame(
    {
        "key": ["K0", "K1", "K3"],
        "B": ["B0", "B1", "B2"],
    },
)

In [86]:
print(left2)
print(right2)

  key   A
0  K0  A0
1  K1  A1
2  K2  A2
  key   B
0  K0  B0
1  K1  B1
2  K3  B2

In [87]:
left2.merge(
    right2,
    on="key",
)

  key   A   B
0  K0  A0  B0
1  K1  A1  B1

In [88]:
left2.merge(
    right2,
    on="key",
    how="outer",
)

  key    A    B
0  K0   A0   B0
1  K1   A1   B1
2  K2   A2  NaN
3  K3  NaN   B2

## Join

DataFrame.join() is a convenient method for combining the columns of two  
potentially differently-indexed DataFrames into a single result DataFrame.

```python
DataFrame.join(
    other,
    on=None,
    how='left',
    ...
)
```

-   otherDataFrame: Index should be similar to one of the columns in this one.
-   on: Column or index level name(s)
-   how{‘left’, ‘right’, ‘outer’, ‘inner’}, default ‘left’
    -   left: use calling frame’s index
    -   right: use other’s index.
    -   outer: form union of calling frame’s index with other’s index
    -   inner: form intersection of calling frame’s index with other’s index

![join](../media/join.png)

In [89]:
left = pd.DataFrame(
    {"A": ["A0", "A1", "A2"]},
    index=["K0", "K1", "K2"],
)

In [90]:
right = pd.DataFrame(
    {"B": ["B0", "B1", "B2"]},
    index=["K0", "K1", "K3"],
)

In [91]:
print(left)
print(right)

     A
K0  A0
K1  A1
K2  A2
     B
K0  B0
K1  B1
K3  B2

In [92]:
left.join(
    right,
    how="outer",
)

      A    B
K0   A0   B0
K1   A1   B1
K2   A2  NaN
K3  NaN   B2

In [93]:
left.join(
    right,
    how="inner",
)

     A   B
K0  A0  B0
K1  A1  B1

In [94]:
left.join(
    right,
    how="left",
)

     A    B
K0  A0   B0
K1  A1   B1
K2  A2  NaN

In [95]:
left.join(
    right,
    how="right",
)

      A   B
K0   A0  B0
K1   A1  B1
K3  NaN  B2